* { padding: 0px; margin: 0px; }

html, body {
	min-height: 100%;
	height: 100%;
}

td {
	text-align: center;
	width: 15%;
}

table {
}

tr {
	padding: 0px;
}

.tradelist {
	float: none;
	border: 2px solid #ddd;
	padding: 0px;
	border-radius: 8px;
}

thead {
	font-size: 12pt;
	border-bottom: 3px solid #ddd;
}

header {
	text-align: center;
	padding: 20px;
	margin: 15px 0px;
}

.ticker-value {
	border: solid 2px #bbb;
	border-radius: 3px;
	margin: 10px auto;
	width: 150px;
}

.sidebar {
	padding: 0px 0px;
	background-color: #363636;
	min-height: 100%;
	height:auto !important;
	height: 100%; 
	position: fixed;
	display: block;
}

.tickers {
	padding: 80px;
}

.main {
	padding: 20px;
	margin: 20px 0px;
}

.pagers {
	margin: 0px auto;
	max-width: 200px;
	text-align: center;
}

button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	padding: 0px 10px;
}
